.navbar {
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.trapezoid{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  height: 150px;
  width: 250px;
  background-color: #888;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  border-bottom: var(--playerColor) 10px double;
}
.minibox {
  background-color: #666;
  border-radius: 4px;
  border: 1px #111 solid;

}
.selectedPiece {
  position: inherit;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.playerIndicator {
  position: absolute;
  top: 70px;
  left: calc(50% - 250px);
  text-align: center;
}

  .shape {
    width: fit-content;
  }

  .box-empty {
    border: 1px #fff solid;
    background-color: #ccc;
  }
  .box {
    background-color: #14e;
    border-radius: 4px;
    border: 3px #22ee solid;
    height: 40px;
    width: 40px;
  }
  .plansza {
    aspect-ratio: 20/1;
    width: 750px;
    margin: auto;
  }
  .minibox-blue {
    background-color:  rgba(37, 194, 241, 0.8); /* #22ee; */
    border-radius: 4px;
    border: rgba(37,194,241,0.6) 2px solid;
  }
  .box-blue {
    background-color:  rgba(37, 194, 241, 0.8); /* #22ee; */
    border-radius: 4px;
    position: relative;
    /* border: 1px #22ee solid; */
  }
  .box-blue::before {
    content: '';
    position: absolute;
    background: rgba(37, 194, 241, 0.6); /* #25e; */
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    z-index: 1;
  }
  .minibox-red {
    background-color: rgba(240, 46, 170, 0.8);
    border-radius: 4px;
    border: rgba(240, 46, 170, 0.6) 2px solid;
  }
  .box-red {
    background-color: rgba(240, 46, 170, 0.6);
    border-radius: 4px;
    position: relative;
  }
  .box-red::before {
    content: '';
    position: absolute;
    background: rgba(240, 46, 170, 0.8);
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    z-index: 1;
  }
  .minibox-green {
    background-color: rgba(136, 255, 170, 0.8);
    border-radius: 4px;
    border: rgba(136, 255, 170, 0.6) 2px solid;
  }
  .box-green {
    background-color: rgba(136, 255, 170, 0.6);
    border-radius: 4px;
    position: relative;
  }
  .box-green::before {
    content: '';
    position: absolute;
    background: rgba(136, 255, 170, 0.8);
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    z-index: 1;
  }
  .minibox-yellow {
    background-color: rgba(255, 255, 170, 0.8);
    border-radius: 4px;
    border: rgba(255, 255, 170, 0.6) 2px solid;
  }
  .box-yellow {
    background-color: rgba(255, 255, 170, 0.6);
    border-radius: 4px;
    position: relative;
  }
  .box-yellow::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 170, 0.8);
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    z-index: 1;
  }
  .box-tmp {
    background-color: #888;
  }
  .blue-corner {
    /* background-color: #5af; */
    box-shadow: rgba(37, 194, 241, 0.6) -5px -5px, rgba(37, 194, 241, 0.5) -10px -10px, rgba(37, 194, 241, 0.4) -15px -15px, rgba(37, 194, 241, 0.3) -20px -20px, rgba(37, 194, 241, 0.2) -25px -25px;
  }
  .red-corner {
    /* background-color: #f5a; */
    box-shadow: rgba(240, 46, 170, 0.6) -5px 5px, rgba(240, 46, 170, 0.5) -10px 10px, rgba(240, 46, 170, 0.4) -15px 15px, rgba(240, 46, 170, 0.3) -20px 20px, rgba(240, 46, 170, 0.2) -25px 25px;
  }
  .yellow-corner {
    /* background-color: #ffa; */
    box-shadow: rgba(255, 255, 170, 0.6) 5px -5px, rgba(255, 255, 170, 0.5) 10px -10px, rgba(255, 255, 170, 0.4) 15px -15px, rgba(255, 255, 170, 0.3) 20px -20px, rgba(255, 255, 170, 0.2) 25px -25px;

  }
  .green-corner {
    /* background-color: #8fa; */
    box-shadow: rgba(136, 255, 170, 0.6) 5px 5px, rgba(136, 255, 170, 0.5) 10px 10px, rgba(136, 255, 170, 0.4) 15px 15px, rgba(136, 255, 170, 0.3) 20px 20px, rgba(136, 255, 170, 0.2) 25px 25px;
  }

  .arrow-curved-left {
    position: absolute;
    top: 20px;
    left: calc(50% - 150px);
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 9px solid white;
    transform: rotate(10deg) scale(-1,1);
    cursor: pointer;
  
    &:after {
      content: "";
      position: absolute;
      border: 0 solid transparent;
      border-top: 3px solid white;
      border-radius: 20px 0 0 0;
      top: -12px;
      left: -9px;
      width: 12px;
      height: 12px;
      transform: rotate(45deg) scale(1,1);
    }
  }
  
  .navbar .bi {
    cursor: pointer;
    scale: 2;
  }

  .bi-arrow-clockwise {
    position: absolute;
    top: 20px;
    left: calc(50% + 150px);
  }

  .bi-arrow-counterclockwise {
    position: absolute;
    top: 20px;
    left: calc(50% - 150px);
  }

  .bi-symmetry-vertical {
    position: absolute;
    top: 20px;
    left: calc(50% - 200px);
  }

  .bi-symmetry-horizontal {
    position: absolute;
    top: 20px;
    left: calc(50% + 200px);
  }

  .bi-skip-forward-fill {
    position: absolute;
    top: 20px;
    left: calc(50% + 250px);
  }

  .bi-stop-fill {
    position: absolute;
    top: 20px;
    left: calc(50% + 300px);
    scale: 2.5;
    color: red;
  }
  
.connectIndicator {
  position: absolute;
  top: 20px;
  left: calc(50% - 250px);
}

.piecesArea {
  height: 750px; 
  overflow-y: auto;
  overflow-x: auto;
}
.card {
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
backdrop-filter: blur(5.5px);
-webkit-backdrop-filter: blur(5.5px);
border: 1px solid rgba(255, 255, 255, 0.29);
color: white;
}


.card-0{box-shadow: inset -10px -10px 20px 0px rgba(37, 194, 241, 0.6), inset 10px 10px 20px 0px rgba(37, 194, 241, 0.6);}
.card-1{box-shadow: inset -10px -10px 20px 0px rgba(240, 46, 170, 0.6), inset 10px 10px 20px 0px rgba(240, 46, 170, 0.6);}
.card-2{box-shadow: inset -10px -10px 20px 0px rgba(136, 255, 170, 0.6), inset 10px 10px 20px 0px rgba(136, 255, 170, 0.6);}
.card-3{box-shadow: inset -10px -10px 20px 0px rgba(255, 255, 170, 0.6), inset 10px 10px 20px 0px rgba(255, 255, 170, 0.6);}

.congratulations {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 99;
  background-color: #222;
  width: 75%;
  text-align: center;
  visibility: hidden;
  animation: gratulations 6s ease-in-out;
  text-shadow: #000 0px 0px 25px;
  
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    height: 50px;
    width: 250px;
    background-color: var(--playerColor);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  }
}

@keyframes gratulations {
  0% {opacity: 0; top: 100%; visibility: visible;}
  35% {opacity: 1; top: 50%;}
  55% {opacity: 1; top: 50%;}
  100% {opacity: 1; top: -10%;}
}

.scoreboard {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 99;
  background-color: #222;
  width: 75%;
  height: 55%;
  text-align: center;
  visibility: hidden;
  animation: scoreboard 3s ease-in-out;
  animation-fill-mode: forwards;
  text-shadow: #000 0px 0px 25px;
  
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    height: 50px;
    width: 250px;
    background-color: var(--playerColor);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  }
}
@keyframes scoreboard {
  from {opacity: 0; top: 100%; visibility: visible;}
  to {opacity: 1; top: 50%; visibility: visible;}
}

.scoreboard .bi {
  scale: 5;
}