.navbar {
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.trapezoid{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  height: 150px;
  width: 250px;
  background-color: #888;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
}
.minibox {
  background-color: #666;
  border-radius: 4px;
  border: 1px #111 solid;

}
.selectedPiece {
  position: inherit;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.playerIndicator {
  position: absolute;
  top: 70px;
  left: calc(50% - 250px);
  text-align: center;
}

.example-box {
    width: 30px;
    height: 30px;
    border: solid 1px #22f;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #22e;
    border-radius: 4px;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .shape {
    width: fit-content;
  }
  .example-box:active {
    box-shadow: 0 5px 3px -5px rgba(255, 255, 255, 0.8),
                0 8px 10px 1px rgba(255, 255, 255, 0.22),
                0 3px 14px 2px rgba(255, 255, 255, 0.22);
  }
  .box-empty {
    border: 1px #fff solid;
    background-color: #ccc;
  }
  .box {
    background-color: #14e;
    border-radius: 4px;
    border: 3px #22ee solid;
    height: 40px;
    width: 40px;
  }
  /* .board {
    position: absolute;
    top: 170px;
    left: 50%;
    translate: -50%;
  } */
  .plansza {
    aspect-ratio: 20/1;
    width: 750px;
    margin: auto;
  }
  .box-blue {
    background-color:  rgba(37, 194, 241, 0.8); /* #22ee; */
    border-radius: 4px;
    position: relative;
    /* border: 1px #22ee solid; */
  }
  .box-blue::before {
    content: '';
    position: absolute;
    background: rgba(37, 194, 241, 0.6); /* #25e; */
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    z-index: 1;
  }
  .box-red {
    background-color: rgba(240, 46, 170, 0.6);
    border-radius: 4px;
    position: relative;
  }
  .box-red::before {
    content: '';
    position: absolute;
    background: rgba(240, 46, 170, 0.8);
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    z-index: 1;
  }
  .box-green {
    background-color: rgba(136, 255, 170, 0.6);
    border-radius: 4px;
    position: relative;
  }
  .box-green::before {
    content: '';
    position: absolute;
    background: rgba(136, 255, 170, 0.8);
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    z-index: 1;
  }
  .box-yellow {
    background-color: rgba(255, 255, 170, 0.6);
    border-radius: 4px;
    position: relative;
  }
  .box-yellow::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 170, 0.8);
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    z-index: 1;
  }
  .box-tmp {
    background-color: #888;
  }
  .blue-corner {
    /* background-color: #5af; */
    box-shadow: rgba(37, 194, 241, 0.6) -5px -5px, rgba(37, 194, 241, 0.5) -10px -10px, rgba(37, 194, 241, 0.4) -15px -15px, rgba(37, 194, 241, 0.3) -20px -20px, rgba(37, 194, 241, 0.2) -25px -25px;
  }
  .red-corner {
    /* background-color: #f5a; */
    box-shadow: rgba(240, 46, 170, 0.6) -5px 5px, rgba(240, 46, 170, 0.5) -10px 10px, rgba(240, 46, 170, 0.4) -15px 15px, rgba(240, 46, 170, 0.3) -20px 20px, rgba(240, 46, 170, 0.2) -25px 25px;
  }
  .yellow-corner {
    /* background-color: #ffa; */
    box-shadow: rgba(255, 255, 170, 0.6) 5px -5px, rgba(255, 255, 170, 0.5) 10px -10px, rgba(255, 255, 170, 0.4) 15px -15px, rgba(255, 255, 170, 0.3) 20px -20px, rgba(255, 255, 170, 0.2) 25px -25px;

  }
  .green-corner {
    /* background-color: #8fa; */
    box-shadow: rgba(136, 255, 170, 0.6) 5px 5px, rgba(136, 255, 170, 0.5) 10px 10px, rgba(136, 255, 170, 0.4) 15px 15px, rgba(136, 255, 170, 0.3) 20px 20px, rgba(136, 255, 170, 0.2) 25px 25px;
  }

  .arrow-curved-left {
    position: absolute;
    top: 20px;
    left: calc(50% - 150px);
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 9px solid white;
    transform: rotate(10deg) scale(-1,1);
    cursor: pointer;
  
    &:after {
      content: "";
      position: absolute;
      border: 0 solid transparent;
      border-top: 3px solid white;
      border-radius: 20px 0 0 0;
      top: -12px;
      left: -9px;
      width: 12px;
      height: 12px;
      transform: rotate(45deg) scale(1,1);
    }
  }
  
  .bi {
    cursor: pointer;
    scale: 2;
  }

  .bi-arrow-clockwise {
    position: absolute;
    top: 20px;
    left: calc(50% + 150px);
  }

  .bi-arrow-counterclockwise {
    position: absolute;
    top: 20px;
    left: calc(50% - 150px);
  }

  .bi-symmetry-vertical {
    position: absolute;
    top: 20px;
    left: calc(50% - 200px);
  }

  .bi-symmetry-horizontal {
    position: absolute;
    top: 20px;
    left: calc(50% + 200px);
  }

  .bi-skip-forward-fill {
    position: absolute;
    top: 20px;
    left: calc(50% + 250px);
  }
  
.connectIndicator {
  position: absolute;
  top: 20px;
  left: calc(50% - 250px);
}

.congratulations {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 99;
  text-align: center;
  visibility: hidden;
  animation: gratulations 6s;
  text-shadow: #000 0px 0px 25px;
}

@keyframes gratulations {
  0% {opacity: 0; top: 100%; visibility: visible;}
  35% {opacity: 1; top: 50%;}
  55% {opacity: 1; top: 50%;}
  100% {opacity: 0; top: 0%;}
}
