<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Blokus</h1>
            <svg width="300" height="10" viewBox="0 0 300 10">
                <line x1="10" y1="0" x2="75" y2="0" style="stroke:rgb(255,0,0); stroke-width:3" />
                <line x1="80" y1="0" x2="142" y2="0" style="stroke:rgb(255,255,0); stroke-width:2" />
                <line x1="147" y1="0" x2="211" y2="0" style="stroke:rgb(0,255,0); stroke-width:2" />
                <line x1="216" y1="0" x2="280" y2="0" style="stroke:rgb(30,120,255); stroke-width:3" />
            </svg>
            <h3>Online board game</h3>
        </div>
        <div class="col">
            <button class="greenbutton" routerLink="/select-room">Play!</button>
            <button>How to play?</button>
        </div>
    </div>
</div>