#selection {
    /* box-shadow: 0 0 20px 1px  #2e2; */
    height: 75vh;
    box-shadow: #2e2 0px 8px 24px, #2e2 0px 16px 56px, #2e2 0px 24px 80px;
}
hr {
    border-top: 1px solid #2e2;
}
#button {
    border: 1px solid #eee;
    color: #eee;
    background-color: #111;
    border-radius: 50px;    
    font-size: 16px;
    padding-inline: 15px;
    min-width: 90px;
    margin-bottom: 15px;
    transition: 0.5s ease-in-out;
}
#button:hover {
    color: #111;
    background-color: #eee;
}   
.greenbutton {
    color: #2e2;
    border-color: #2e2;
}
.greenbutton:hover {
    color: #111;
    background-color: #2e2;
    border-color: #2e2;
}