@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
body {
    font-family: 'Tilt Warp', cursive;
    color: #eee;
    background-color: #111;
}
h1 {
    font-size: 92px;
}
h3 {
    font-size: 28px;
    padding-inline: 20px;
}
.button {
    border: 1px solid #eee;
    color: #eee;
    background-color: #111;
    border-radius: 50px;    
    font-size: 48px;
    min-width: 360px;
    margin: 25px;
    transition: 0.5s ease-in-out;
}
.button:hover {
    color: #111;
    background-color: #eee;
}   
.greenbutton {
    color: #2e2;
}
.greenbutton:hover {
    color: #111;
    background-color: #2e2;
    border-color: #2e2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
